:root[data-theme="light"] {
  /* Light-mode */
  --color-grey100: #F3F6FF;
  --color-grey200: #EFF2FC;
  --color-grey300: #E2E5F1;
  --color-grey400: #D4D7E5;
  --color-grey500: #B4B7C9;
  --color-grey600: #9397AD;
  --color-grey700: #565973;
  --color-grey800: #33354D;
  --color-grey900: #0B0F19;
  --color-primary: #6366F1;
  --color-chevron: #3E4265;
  --color-error: #EF4444;
  --color-success: #22C55E;
  --color-warning: #FFBA08;
  --color-info: #4C82F7;
  --color-purple: #D946EF;
  --color-white: #FFFFFF;
  --color-box-white: #FFFFFF;
  --color-dwhite: #F2F2F2;
  --color-floating-box-white: #FFFFFF;
  --color-black: #00000000;
  --color-text: #585C7B;
  --color-savetext: #565973;
  --color-savetext2: #565973;
  --color-hamburger: #565973;
  --color-chevron-2: #E2E5F1;

  /* Gradients */
  --custom-gradient-tablet: linear-gradient(to top, #4f4f4f 0%, #bfbfbf 50%, #ffffff 100%);
  --custom-gradient-2: linear-gradient(180deg, 
    rgba(255, 255, 255, 1) 0%,
    rgb(240, 240, 240) 10%,
    rgb(220, 220, 220) 20%,
    rgb(220, 220, 220) 25%,
    rgb(240, 240, 240) 30%,
    rgba(255, 255, 255, 1) 40%,
    rgb(240, 240, 240) 46%,
    rgb(230, 230, 230) 50%, 
    rgb(200, 200, 200) 60%,
    rgb(240, 240, 240) 89%,
    rgba(255, 255, 255, 0.151) 100%);
}

:root[data-theme="dark"] {
  /* Dark-mode */
  --color-grey100: #131022;
  --color-grey200: #FFFFFF0A;
  --color-grey300: #E2E5F1;
  --color-grey400: #D4D7E5;
  --color-grey500: #B4B7C9;
  --color-grey600: #9397AD;
  --color-grey700: #9397AD;
  --color-grey800: #33354D;
  --color-grey900: #FFFFFF;
  --color-primary: #6366F1;
  --color-chevron: #FFFFFF;
  --color-error: #EF4444;
  --color-success: #22C55E;
  --color-warning: #FFBA08;
  --color-info: #4C82F7;
  --color-purple: #D946EF;
  --color-white: #000000;
  --color-box-white: #131022;
  --color-dwhite: #1A1A1A;
  --color-floating-box-white: #33354D;
  --color-black: #00000000;
  --color-text: #585C7B;
  --color-savetext: #2d2e31;
  --color-savetext2: #FFFFFF;
  --color-hamburger: #FFFFFF;
  --color-chevron-2: #33354D;

  /* Gradients */
  --custom-gradient-tablet: linear-gradient(to top, #4b4a4a75 0%, #33333350 50%, #ffffff00 100%);
  --custom-gradient-2: linear-gradient(180deg, 
    rgba(0, 0, 0, 1) 0%, 
    rgba(30, 30, 30, 0.85) 10%, 
    rgba(60, 60, 60, 0.6) 20%, 
    rgba(60, 60, 60, 0.6) 25%,
    rgba(30, 30, 30, 0.85) 30%, 
    rgba(0, 0, 0, 1) 40%, 
    rgba(30, 30, 30, 0.85) 46%, 
    rgba(40, 40, 40, 0.85) 50%, 
    rgba(80, 80, 80, 0.6) 60%,
    rgba(30, 30, 30, 0.85) 89%, 
    rgba(0, 0, 0, 1) 100%);
}