@charset "UTF-8";
:root[data-theme="light"]{
  /* Light-mode */
  --color-grey100: #F3F6FF;
  --color-grey200: #EFF2FC;
  --color-grey300: #E2E5F1;
  --color-grey400: #D4D7E5;
  --color-grey500: #B4B7C9;
  --color-grey600: #9397AD;
  --color-grey700: #565973;
  --color-grey800: #33354D;
  --color-grey900: #0B0F19;
  --color-primary: #6366F1;
  --color-chevron: #3E4265;
  --color-error: #EF4444;
  --color-success: #22C55E;
  --color-warning: #FFBA08;
  --color-info: #4C82F7;
  --color-purple: #D946EF;
  --color-light-purple: #ddbce2;
  --color-white: #FFFFFF;
  --color-box-white: #FFFFFF;
  --color-dwhite: #F2F2F2;
  --color-floating-box-white: #FFFFFF;
  --color-black: #00000000;
  --color-text: #585C7B;
  --color-savetext: #565973;
  --color-savetext2: #565973;
  --color-hamburger: #565973;
  --custom-gradient-desktop: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
  --custom-gradient: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
  
  /* Transitions */
  --transition-time: 0.4s;
}

  /* Dark-mode */
:root[data-theme="dark"]{
  --color-grey100: #131022;
  --color-grey200: #FFFFFF0A;
  --color-grey300: #E2E5F1;
  --color-grey400: #D4D7E5;
  --color-grey500: #B4B7C9;
  --color-grey600: #9397AD;
  --color-grey700: #9397AD;
  --color-grey800: #33354D;
  --color-grey900: #FFFFFF;
  --color-primary: #6366F1;
  --color-chevron: #FFFFFF;
  --color-error: #EF4444;
  --color-success: #22C55E;
  --color-warning: #FFBA08;
  --color-info: #4C82F7;
  --color-purple: #D946EF;
  --color-white: #000000;
  --color-box-white: #131022;
  --color-dwhite: #1A1A1A;
  --color-floating-box-white: #292a30;
  --color-black: #00000000;
  --color-text: #585C7B;
  --color-savetext: #33354D;
  --color-savetext2: #FFFFFF;
  --color-hamburger: #FFFFFF;
  --custom-gradient-desktop: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(30, 30, 30, 0.85) 50%, rgba(60, 60, 60, 0.6) 100%);
  --custom-gradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(50, 50, 50, 1) 20%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.5) 60%, rgba(50, 50, 50, 1) 80%, rgba(0, 0, 0, 1) 100%);
  
  /* Transitions */
  --transition-time: 0.4s;

}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, section, div, header, footer, main, nav, blockquote, p, span,img {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  background-color: var(--color-white);
  color: var(--color-grey700);
  
  h1, h2, h3 {
    color: var(--color-grey900);
  }
}

.wrapper {
  display: grid;
  grid-template-rows: auto;
}

/* CONTACT-INFO */
.contact-info {
  background-color: var(--color-grey100);
}
.contact-container-2 {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .nav-bar-2 {
    color: var(--color-grey600);
  }
  .nav-link-2 {
    color: var(--color-grey600);
    text-decoration: none;
  }
  .nav-link-3 {
    color: var(--color-primary);
    text-decoration: none;
  }
  .nav-link-2:hover {
    color: var(--color-purple);
    text-decoration: underline;
  }
  .nav-link-3:hover {
    color: var(--color-purple);
    text-decoration: underline;
  }
}
.info-card {
  display: flex;
  align-items: center;
  p {
    text-align: left;
  }
}

.icon-button {
  border-radius: 50%;
  width: 6rem;
  height: 3rem;
  background-color: var(--color-floating-box-white);
  border: none;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.5);
}

.icon-button i {
  font-size: 18px;
}

.icon-button:hover {
  background-color:var(--color-light-purple);
  color: var(--color-purple);
}

.envelope {
  grid-area: envelope;
}

.h2-email {
  grid-area: h2-email;
}

.please {
  grid-area: please;
}

.action-button {
  display: none;
  margin-left: .5rem;
  margin-right: 2rem;
  padding: .5rem;
  width: 120px;
  border-radius: 5px;
  background-color: var(--color-primary);
  border: none;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

/* MAP & MEDICAL */
#find-here {
  background-color: var(--color-white);
}

.contact-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map {
  grid-area: map;
  position: relative;
  z-index: 1;
  margin: 1rem;
}

.img-map {
  max-height: 460px;
}

.location-icon {
  position: absolute;
  z-index: 2;
  top: 210px;
  left: 260px;

  font-size: 30px;
  color: var(--color-primary);
}

.location-icon-2 {
  position: absolute;
  z-index: 2;
  top: 365px;
  left: 110px;

  font-size: 30px;
  color: var(--color-primary);
}

.medical-center {
  grid-area: medical-center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 1.5rem;
}

.location, .phone, .clock {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .8rem;
}

.location i, .phone i, .clock i {
  color: var(--color-primary);
}

.social-media {
  grid-area: social-media;
  color: var(--color-grey800);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.social-media a {
  display: inline-block;
  background-color: var(--color-grey300);
  color: var(--color-grey800);
  text-decoration: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.social-media a:hover {
  background-color: var(--color-purple);
  transform: scale(1.2);
}

.social-media i {
  margin: 0 .6rem;
  padding: .3rem;
  font-size: 24px;
}

/* Floating box */
.floating-box {
  background-color: var(--color-floating-box-white);
  width: 400px;
  height: 100vw;
  padding: 2rem;
  gap: .5rem;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .enter-paragraph {
    color: var(--color-grey900);
    font-size: 10px;
    font-weight: bold;
  }
}

.input-name, .input-email, .input-spec {
  background-color: var(--color-white);
  margin-bottom: 1rem;
  border: 1px solid var(--color-grey400);
  border-radius: 5px;
  height: 3rem;
  width: 22rem;
}

.btn-make {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: 14rem;
  margin-top: 2rem;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-make:hover {
  background-color: var(--color-purple);
}

@media (min-width: 1400px) {

    /* CONTACT-INFO */
  .contact-info {
    background-color: var(--color-grey100);
  }

  .contact-container-2 {
    max-width: 1200px;
    display: grid;
    justify-content: left;
    text-align: left;
    gap: 3rem;
    margin-left: 10rem;
  }

  .info-card {
    max-width: 400px;
    display: grid;
    align-items: center;
    justify-content: left;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
      "icon-button h2"
      "icon-button p"
      "icon-button p"
      "icon-button action-button";

      p {
        grid-area: p;
      }

      h2 {
        grid-area: h2;
        margin-top: 3rem;
      }
  }

  .icon-button {
    grid-area: icon-button;
    margin-right: 1rem;
    height: 6rem;
  }

  .icon-button i {
    color: var(--color-primary);
    font-size: 34px;
  }

  .action-button {
    display: block;
    grid-area: action-button;
    text-align: left;
    padding: 0;
    margin-top: 2rem;
    margin-left: 0;
    width: 10rem;
    background-color: var(--color-grey100);
    color: var(--color-primary);
    box-shadow: none;
  }

  .action-button i {
    margin-left: .8rem;
  }

  /* MAP & MEDICAL */
  .contact-container-3 {
    max-width: 1200px;
    margin-left: 6rem;
    margin-right: 5rem;
    margin-top: 7rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
      "map medical-center1"
      "map medical-center2"
      "map social-media"
  }

  .map {
    grid-area: map;
    position: relative;
    z-index: 1;
  }

  .img-map {
    max-width: 560px;
    max-height: 700px;
  }

  .location-icon {
    position: absolute;
    z-index: 2;
    top: 210px;
    left: 260px;

    font-size: 30px;
    color: var(--color-primary);
  }

  .location-icon-2 {
    position: absolute;
    z-index: 2;
    top: 365px;
    left: 110px;

    font-size: 30px;
    color: var(--color-primary);
  }

  .medical-center1 {
    grid-area: medical-center1;
    padding-left: 1.5rem;
  }

  .medical-center2 {
    grid-area: medical-center2;
    padding-left: 1.5rem;
  }

  .location, .phone, .clock {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .8rem;
  }

  .location i, .phone i, .clock i {
    color: var(--color-primary);
  }

  .social-media {
    grid-area: social-media;
    color: var(--color-grey800);
    padding-left: 1.5rem;
  }

  .social-media a {
    display: inline-block;
    background-color: var(--color-grey300);
    color: var(--color-grey800);
    text-decoration: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    max-height: 3.2rem;
  }

  .social-media a:hover {
    background-color: var(--color-purple);
    transform: scale(1.2);
  }

  .social-media i {
    margin: 0 .6rem;
    padding: .3rem;
    font-size: 24px;
  }

    /* Floating box */
  .floating-box {
    width: 580px;
    height: 700px;

    position: absolute;
    top: 8rem;
    right: 13rem;
  }
  
  .input-name, .input-email, .input-spec {
    width: 28rem;
  }

  .enter-paragraph {
    text-align: left;
  }
}