@charset "UTF-8";
@import url('colors.css');

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, section, div, header, footer, main, nav, blockquote, p, span,img {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  background-color: var(--color-white);
  color: var(--color-grey700);
  
  h1, h2, h3 {
    color: var(--color-grey900);
  }
}

.wrapper {
  display: grid;
  grid-template-rows: auto;
}

/* CONTACT-INFO */
.contact-info {
  background-color: var(--color-grey100);
}

.contact-container-2 {
  display: none;
}

.info-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    text-align: left;
  }
}

.icon-button {
  border-radius: 50%;
  width: 6rem;
  height: 3rem;
  background-color: var(--color-floating-box-white);
  border: none;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.5);
}

.icon-button i {
  font-size: 18px;
}

.icon-button:hover {
  background-color:var(--color-light-purple);
  color: var(--color-purple);
}

.envelope {
  grid-area: envelope;
}

.h2-email {
  grid-area: h2-email;
}

.please {
  grid-area: please;
}

.action-button {
  display: none;
  margin-left: .5rem;
  margin-right: 2rem;
  padding: .5rem;
  width: 120px;
  border-radius: 5px;
  background-color: var(--color-primary);
  border: none;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

/* MAP & MEDICAL */
#find-here {
  background-color: var(--color-white);
}

.contact-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map {
  grid-area: map;
  position: relative;
  z-index: 1;
  margin: 1rem;
}

.img-map {
  max-height: 460px;
}

.location-icon {
  position: absolute;
  z-index: 2;
  top: 210px;
  left: 260px;

  font-size: 30px;
  color: var(--color-primary);
}

.location-icon-2 {
  position: absolute;
  z-index: 2;
  top: 365px;
  left: 110px;

  font-size: 30px;
  color: var(--color-primary);
}

.medical-center {
  grid-area: medical-center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 1.5rem;
}

.location, .phone, .clock {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .8rem;
}

.location i, .phone i, .clock i {
  color: var(--color-primary);
}

.social-media {
  grid-area: social-media;
  color: var(--color-grey800);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.social-media a {
  display: inline-block;
  background-color: var(--color-grey300);
  color: var(--color-grey800);
  text-decoration: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.social-media a:hover {
  background-color: var(--color-purple);
  transform: scale(1.2);
}

.social-media i {
  margin: 0 .6rem;
  padding: .3rem;
  font-size: 24px;
}

/* Floating box */
.floating-box {
  background-color: var(--color-floating-box-white);
  width: 400px;
  height: 600px;
  padding: 2rem;
  gap: .5rem;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .enter-paragraph {
    color: var(--color-grey900);
    font-size: 14px;
    font-weight: bold;
    text-align: left;
  }

  h2 {
    text-align: center;
  }
}

.name-input, .email-input, .spec-input {
  width: 100%;
  padding: 1rem;
  margin-bottom: .5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-make {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: 14rem;
  margin-top: 2rem;
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-make:hover {
  background-color: var(--color-purple);
}


.contact-box {
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--color-grey800);
  background-color: var(--color-grey200);
  padding: 1rem;
  margin: 1rem;

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 24px;
  }

  .ok-btn {
    background-color: #0b4721;
    color: white;
    height: 35px;
    width: 40px;
    margin-top: 1rem;
  }
}

@media (min-width: 1400px) {

    /* CONTACT-INFO */
  .contact-info {
    background-color: var(--color-grey100);
    padding-bottom: 4rem;
  }

  .contact-container-2 {
    display: block;
    max-width: 1200px;
    display: grid;
    justify-content: left;
    text-align: left;
    gap: 3rem;
    margin-left: 10rem;
  }

  .link-box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
  
    .nav-bar-2 {
      color: var(--color-grey600);
    }
    .nav-link-2 {
      color: var(--color-grey600);
      text-decoration: none;
    }
    .nav-link-3 {
      color: var(--color-primary);
      text-decoration: none;
    }
    .nav-link-2:hover {
      color: var(--color-purple);
      text-decoration: underline;
    }
    .nav-link-3:hover {
      color: var(--color-purple);
      text-decoration: underline;
    }
  }

  .info-card {
    max-width: 400px;
    display: grid;
    align-items: center;
    justify-content: left;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
      "icon-button h2"
      "icon-button p"
      "icon-button p"
      "icon-button action-button";

      p {
        grid-area: p;
      }

      h2 {
        grid-area: h2;
        margin-top: 3rem;
      }
  }

  .icon-button {
    grid-area: icon-button;
    margin-right: 1rem;
    height: 6rem;
  }

  .icon-button i {
    color: var(--color-primary);
    font-size: 34px;
  }

  .action-button {
    display: block;
    grid-area: action-button;
    text-align: left;
    padding: 0;
    margin-top: 2rem;
    margin-left: 0;
    width: 10rem;
    background-color: var(--color-grey100);
    color: var(--color-primary);
    box-shadow: none;
  }

  .action-button i {
    margin-left: .8rem;
  }

  /* MAP & MEDICAL */
  .contact-container-3 {
    max-width: 1200px;
    margin-left: 6rem;
    margin-right: 5rem;
    margin-top: 8rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
      "map medical-center1"
      "map medical-center2"
      "map social-media"
  }

  .map {
    grid-area: map;
    position: relative;
    z-index: 1;
  }

  .img-map {
    max-width: 560px;
    max-height: 700px;
  }

  .map i {
    
  }

  .location-icon {
    position: absolute;
    z-index: 2;
    top: 210px;
    left: 260px;

    font-size: 30px;
    color: var(--color-primary);
  }

  .location-icon-2 {
    position: absolute;
    z-index: 2;
    top: 365px;
    left: 110px;

    font-size: 30px;
    color: var(--color-primary);
  }

  .medical-center1 {
    grid-area: medical-center1;
    padding-left: 1.5rem;
  }

  .medical-center2 {
    grid-area: medical-center2;
    padding-left: 1.5rem;
  }

  .location, .phone, .clock {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .8rem;
  }

  .location i, .phone i, .clock i {
    color: var(--color-primary);
  }

  .social-media {
    grid-area: social-media;
    color: var(--color-grey800);
    padding-left: 1.5rem;
  }

  .social-media a {
    display: inline-block;
    background-color: var(--color-grey300);
    color: var(--color-grey800);
    text-decoration: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    max-height: 3.2rem;
  }

  .social-media a:hover {
    background-color: var(--color-purple);
    transform: scale(1.2);
  }

  .social-media i {
    margin: 0 .6rem;
    padding: .3rem;
    font-size: 24px;
  }

    /* Floating box */
  .floating-box {
    width: 580px;
    height: 700px;

    position: absolute;
    top: 8rem;
    right: 13rem;
  }

  .contact-box {
    position: absolute;
    top: 20rem;
    right: 13rem;
  }
}